<?xml version='1.0' encoding='UTF-8'?>
    <!DOCTYPE hibernate-configuration PUBLIC
              "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
              "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hbm2ddl.auto">update</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/wv-eventing?currentSchema=sensorweb2</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>

        <mapping resource="/hibernate/wv/user.hbm.xml"/>
        <mapping resource="/hibernate/wv/group.hbm.xml"/>
        <mapping resource="/hibernate/wv/subscription.hbm.xml"/>
        <mapping resource="/hibernate/wv/rule.hbm.xml"/>
        <mapping resource="/hibernate/wv/series.hbm.xml"/>
        <mapping resource="/hibernate/wv/phenomenon.hbm.xml"/>
        <mapping resource="/hibernate/wv/category.hbm.xml"/>
        <mapping resource="/hibernate/wv/procedure.hbm.xml"/>
        <mapping resource="/hibernate/wv/feature.hbm.xml"/>
        <mapping resource="/hibernate/wv/trend.hbm.xml"/>

<!--        <mapping resource="/hibernate/wv/event.hbm.xml"/>
        <mapping resource="/hibernate/wv/trend.hbm.xml"/>

        -->

    </session-factory>
</hibernate-configuration>
