<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="eventing-rest-console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{ISO8601} [%t] %-5p %c{32}: %m%n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="eventing-rest-console" />
    </root>
</configuration>
