<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="logFile" value="${catalina.base:-.}/logs/eventing-rest" />
    <appender name="eventing-rest-file"
                  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
        <!--and http://logback.qos.ch/manual/appenders.html#TimeBasedRollingPolicy -->
        <!--for further documentation -->
        <File>${logFile}.log</File>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logFile}/%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{ISO8601} [%t] %-5p %c{32}: %m%n</pattern>
        </encoder>
    </appender>
    <appender name="eventing-rest-console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{ISO8601} [%t] %-5p %c{32}: %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.n52.eventing" level="DEBUG" />
    <logger name="org.n52.epos" level="DEBUG" />
    <root level="WARN">
        <appender-ref ref="eventing-rest-file" />
        <appender-ref ref="eventing-rest-console" />
    </root>
</configuration>
